body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.filter-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
}

ul, table {
    margin-top: 10px;
}

.list-item {
    display: flex;
    align-items: center; 
}

.icon-text {
    display: flex;
    align-items: center; 
}

li, td {
    padding: 8px;
    text-align: left;
    vertical-align: middle; /* Ensures vertical alignment in the middle */
}

li {
    list-style-type: none;
    background-color: #454545;
    border: 1px solid #42456b;
    cursor: pointer;
}

li:hover {
    background-color: #7f6161;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #654e4e;
}

tr:nth-child(even) {
    background-color: #456f54;
}

tr:hover {
    background-color: #524579;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}